.venv
/share/*
workdir/*.pdb
workdir/*.gro
workdir/*.xtc
workdir/*.tpr
workdir/*.edr
workdir/*.log
workdir/*.cpt
workdir/*.trr
workdir/*.itp
workdir/*.top
workdir/*.mdp
martini-basics/tutorial_2/
\#*\#
*.xvg
comparison/workdir