certifi==2024.12.14
cftime==1.6.4.post1
insane==1.2.0
mdtraj==1.10.2
netCDF4==1.7.2
networkx==2.8.8
numpy==2.2.1
packaging==24.2
pbr==6.1.0
pyparsing==3.2.1
scipy==1.15.0
setuptools==75.8.0
simopt==0.4.0
vermouth==0.7.0
